[submodule "english-auction/lib/forge-std"]
	path = english-auction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "english-auction/lib/openzeppelin-contracts"]
	path = english-auction/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
